.NewPageVideos{

	background: rgb(2,0,36);
    background: linear-gradient(82deg, rgba(2,0,36,1) 0%, rgba(112,49,109,1) 50%, rgba(0,212,255,1) 100%);

    color: white;

}

.img1{

	background-image: url('../Img/VideoImg/beyblade.png');
	background-size: 120px 50px;
	background-repeat: no-repeat;

	margin-left: auto;
	margin-right: auto;
	width: 120px;
	height: 50px;
	
}


.img2{

	background-image: url('../Img/VideoImg/Memory Game.png');
	background-size: 120px 50px;
	background-repeat: no-repeat;

	margin-left: auto;
	margin-right: auto;
	width: 120px;
	height: 50px;
	
}

.img3{

	background-image: url('../Img/VideoImg/supermario.jpg');
	background-size: 120px 50px;
	background-repeat: no-repeat;

	margin-left: auto;
	margin-right: auto;
	width: 120px;
	height: 50px;
	
}


.img4{

	background-image: url('../Img/VideoImg/osu.jpg');
	background-size: 120px 50px;
	background-repeat: no-repeat;

	margin-left: auto;
	margin-right: auto;
	width: 120px;
	height: 50px;
	
}

.img5{

	background-image: url('../Img/VideoImg/TypeWord.png');
	background-size: 120px 50px;
	background-repeat: no-repeat;

	margin-left: auto;
	margin-right: auto;
	width: 120px;
	height: 50px;
	
}

.img6{

	background-image: url('../Img/VideoImg/AnimalWorld.jpg');
	background-size: 120px 50px;
	background-repeat: no-repeat;

	margin-left: auto;
	margin-right: auto;
	width: 120px;
	height: 50px;
	
}


.Link{

	color:blanchedalmond;
	font-family:cursive;
	font-weight: bold;
	font-size: 15px;
}