.SocialIcons{
	width: 32px;
	height: 32px;
	background-size: contain;
	background-repeat: no-repeat;

}




.SocialIcons1{
	background-image:url(../Img/onsound.png);
}

.SocialIcons2{
	background-image:url(../Img/facebook.png);
}

.SocialIcons3{
	background-image:url(../Img/gmail.png);
}

.SocialIcons4{
	background-image:url(../Img/discord.png);
}

.SocialIcons5{
	background-image:url(../Img/menu.png);
	width: 40px;
	height: 40px;
}